MARIADB_CONTAINER_NAME=driveit-db
MARIADB_ROOT_PASSWORD=changeme
MARIADB_DATABASE=driveit
MARIADB_USER=changeme
MARIADB_PASSWORD=changeme
MARIADB_PORT=3306

PHPMYADMIN_CONTAINER_NAME=driveit-phpmyadmin
PHPMYADMIN_PORT=8081

API_CONTAINER_NAME=driveit-api
API_PORT=8080

APP_CONTAINER_NAME=driveit-app
APP_PORT=4200